.Coming {
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  background-color: rgb(24, 24, 24);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

.Coming .title {
  margin: 50px 0px 50px 0px;
  color: antiquewhite;
}

.Coming .container {
  margin: 50px 20px 90px 20px;
  height: 700px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 16em 16em 16em 16em;
  overflow-y: scroll;
}

.Coming .container .card {
  cursor: pointer;
  margin-bottom: 20px;
  height: 17em;
  background-color: black;
  width: 14rem;
  text-align: center;
  transition: 0.5s;
}

.Coming .container .card:hover{
  transform: scale(1.1);
}

.Coming .container .card .description {
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  display: none;
  text-align: center;
}

.Coming .container .card .description p {
  margin-top: 20px;
  font-size: 12px;
  color: antiquewhite;
}

.Coming .container .card p {
  color: antiquewhite;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.Coming .container .card img {
  width: 100%;
  height: 200px;
}

.load {
  text-align: center;
  color: antiquewhite;
  font-size: 35px;
}

/* width */
.Coming ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Coming ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.Coming ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.Coming ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .Coming .container {
    margin: 50px 0px 90px 00px;
    height: 700px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px;
    overflow-y: scroll;
  }
}